.lato-thin {
  font-family: $font-family-lato;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: $font-family-lato;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: $font-family-lato;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: $font-family-lato;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: $font-family-lato;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: $font-family-lato;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: $font-family-lato;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: $font-family-lato;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: $font-family-lato;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: $font-family-lato;
  font-weight: 900;
  font-style: italic;
}


.rufina-regular {
  font-family: $font-family-rufina;
  font-weight: 400;
  font-style: normal;
}

.rufina-bold {
  font-family: $font-family-rufina;
  font-weight: 700;
  font-style: normal;
}
